.login-form button:hover{color: black !important}.login-form button:focus{color: black !important}.login-form a:hover{color: #ffffff;text-decoration:underline !important}
.login-form input{background:transparent !important;color:#1f1c1e;font-size: 17px !important;border-left:0px;border-right:0px;border-top:0px;border-bottom:2px solid #fff !important;border-radius:2px;box-shadow: none;}
.login-form input:focus{box-shadow:none;border-bottom:2px solid #fff !important;outline:none;color: black !important}
.log-animation img{height: 423px;}.login-logo img{width: 350px;margin-left: 15%;}
.span_eyeicon{
      position: absolute;
      right: 12px;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 10;
      height: 16px;
   } 
.reflection--form{
      float:right;
      margin-top:100px !important;
}
 .reflection--name{
      float:left;
      
 }  